{% extends 'main/base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h2>Welcome, {{user.username}}.</h2>

    {% if count > 1 %}
    <h3>You currently have <a href="/view">{{count}}</a> lists created</h1>
    {% elif count == 1 %}
    <h3>You currently have <a href="/view">{{count}}</a> list created</h3>
    {% else  %}
    <h3>You have no lists available. <a href="/create">Create one</a></h3>
    {% endif %}
{% else %}
    <h2><a href="/register">Sign in</a> to create and save your To Do Lists!</h2>
{% endif %}

{% endblock %}